{% extends 'base.html.twig' %}

{% block title %}{{ 'add_product'|trans }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1></h1>
    
    {{ form(form) }}
    <a href="{{ path('app_produit') }}" >{{ 'back_product'|trans }}</a>
    {% endif %}
{% endblock %}