{% extends 'base.html.twig' %}
 
{% block title %}Tout les produits{% endblock %}
 
{% block body %}
    <h1>{{produit.nom}}</h1>
 
    <h2>{{produit.description}}</h2>
    <hr/>
    <p>{{produit.stock}}</p>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('app_produit_edit', {id:produit.id})}}">Modifier le prod</a>
    {% endif %}
{% endblock %}