{% block head %}
    <title>500</title>
    <script src="https://kit.fontawesome.com/ec35368b02.js" crossorigin="anonymous"></script>
{% endblock head %}
{% block stylesheet %}
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .back {
        text-decoration: none;
        margin: 0 20px;
        padding: 10px 20px;
        color: #ddd;
        background: #333;
        font-size: 16px;
      }
      body {
        color: #333;
        overflow: hidden;
        position: relative;
        width: 100vw;
        height: 100vh;
      }
      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        font-size: 15rem;
        opacity: 20%;
      }
      i {
        color: #333;
        z-index: 10;
        position: absolute;
        top: 40%;
        left: 60%;
        font-size: 10rem;
        animation: nonono 1.5s linear infinite;
      }
      @keyframes nonono {
        0% {
          transform: rotate(-45deg);
        }
        50% {
          transform: rotate(45deg);
        }
        100% {
          transform: rotate(-45deg);
        }
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        transform: translate(0, 20%);
        gap: 20px;
      }
      h2 {
        margin-top: 20px;
        font-size: 2rem;
      }
    </style>
{% endblock stylesheet %}

{% block body %}
    <h1>403</h1>
    <i class="fa-regular fa-hand-point-up"></i>
    <div>
      <h2 style="color: #e84a5f">{{ 'error.h1'|trans }}</h2>
      <p style="color: #e84a5f; opacity: 0.5">{{ 'error.403'|trans }}</p>
      <a href="{{ path('app_produit') }}" class='back'>{{ 'back_product'|trans }} </a>
    </div>
{% endblock %}